<link rel="stylesheet" href="/css/user_profile.css">
<% if(user.id==profile_user.id){%>
    <img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<%}else{%>
    <img src="<%= profile_user.avatar %>" alt="<%= user.name %>" width="100">
<%}%>
<h1> Page / <%= title %></h1>

<% if(user.id == profile_user.id){%>
    <!-- If user matches then show the form -->
    <form action="/user/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Your name..." value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your email..." value="<%= profile_user.email %>" required>
        <input type="file" name="avatar" id="Profile Picture">
        <input type="submit" value="Update">
    </form>
    <p>
        <%= user.name%>
    </p>
    <p>
        <%= user.email%>
    </p>
    <%} else{%>
        <!-- else show only the profile info -->

            <p><%= profile_user.name%></p>
            <p><%= profile_user.email%></p>

        <small>
            <% if (locals.user){ %>
                <a class="toggle-friendship-button" href="/friend/toggle/?fromid=<%=user.id%>&toid=<%=profile_user.id%>"><%=status%> Friend</a>
                <% } %>
        </small>

        
        <%}%>
<script src="/js/toggle_friendship.js"></script>
<script>
    // Ensure that the document is ready before executing the script
$('.toggle-friendship-button').each(function () {
    let self = this;
    let toggleFriendship = new ToggleFriendship(self);
});
</script>